.fullw-green-button{
	border-style: none;
    float: none;
    text-align: center;
	background-color: #F0E68C	;
	color: black;
	height: 96%;
	width: 100%;
	font-size: 14px;
	letter-spacing: 1px;
}

.small-green-button{
	background-color: #4CAF50;
	font-weight: bolder;
	font-size: 14px;
	padding: 10px;
	color: white;
	width: 20%;
}
