/* CSS Document */

.red{
	background-color: #832F24;
}
.green{
	background-color: #607625;
}
.light-grey{
	background-color: #878787;
}
.charcole{
	background-color: #1A1A1A;
}
.grey{
	background-color: #707070;
}
.white{
	background-color: "#f2f2f2";
}