body{
/*	color: white;
*//*	background-color: #1A1A1D; */	
/*	background: url("/public/img/trees_wallpaper.jpeg") no-repeat center center fixed; 
*/    
    background-color: #343a40;
    font-family: "Futura";
}

span {
	color: white;
}
#particles-js{
	height:20em;
	min-height:20em;
	max-height:20em;
}
.home{
	height: 25%;
}
.bottom-center{
	text-align: center;
	position: absolute;
    bottom: 0%; 
	padding-bottom: 20px;
}

.chevron-wide{
	transform: scale(6,4);
}

@font-face {
    font-family: 'bebas_neueregular';
    src: url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1{
	text-align: center;
	font-family: bebas_neueregular;
	letter-spacing: 1px;
}

.home{
}

.about-me{
/*		background: url("/../img/trees_wallpaper.jpeg") no-repeat center center fixed; 
*/
	background: url("../img/laptop-bg2.jpg") no-repeat center center fixed; 
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	height: 200%;
	max-height: 100vh;
	min-height: 100vh;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.full-width {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.home-contents{
	position: absolute;
    bottom: 0%;
/*	background-color: #1A1A1D;
*/
	background-color: #FFFFFF;

 	display: inline;
    height: 50vh;
}

.container{
	padding: 10px;
    margin: 0 auto;
}

.btn{
	color:white;
	margin-left: 10px;
}

.btn-primary{
	width: 100%;
	background-color: #5da399;
	margin: 0 auto;
	padding: 10 auto;
}

.navbar{
		font-family: bebas_neueregular;
		letter-spacing: 2px;
		height: 5px;

}

.nav{
	height: 40px;
	width: 100%;
	max-width: 100%;
	min-width: 100%;
  	padding:0 50px;
}

.navbar-header{

	height:50%;
	color: white;
}


.navbar {
  min-height: 80px;
}

.navbar-brand {
  padding: 0 15px;
  height: 20px;
  line-height: 20px;
}


.btn-primary-outline {
  background-color: transparent;
  border-color: #ccc;
  color: white;
}

.card{
	margin: 0 auto; 
    float: none; 
    margin-bottom: 10px;
	width: 80%;
}
.card-title{
	color: black;
	text-align: center;
}
.card-body{
	padding: 2% 20%;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 0px) { 
	.navbar {
	  min-height: 70px;
	  font-size: 8px;
	}

	.card{
		margin-top: 125px;
		font-size: 0.7em;
	}

	h1{
		padding-top: 100px;
		color: white;
	}
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 600px) { 
	h1{
		color: white;
		padding-top: 70px;
		font-size: 5em;
	}

	.card{
		margin-top: 125px;
		font-size: 1em;
	}
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	h1{
		color: white;
		font-size: 0.em;
		padding-top: 80px;
	}
	.navbar {
	  	min-height: 50px;
	}
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	h1{
		color: white;
		font-size: 6em;
		padding-top: 80px;

	}
}
.second-button{
    float:right;
}

