 html,
 body {
     margin: 0;
     padding: 0;
     height: 100%
 }
 
 body {
     font-family: Georgia, "Helvetica", Times, serif
 }
 
 h1,
 p {
     margin: 0 0 1em;
 }
 
 h1 {
     text-align: center;
 }

 h4{
	 padding-top: 1px;
 }
 .intro {
     display: table;
     height: 100%;
     width: 100%;
     margin: auto;
     background: url('/res/img/coffee-bg-blurred.jpg') no-repeat 50% 50%;
     background-size: cover;
 }


 .inner {
     margin: auto;
     font-size: 120%;
     line-height: 1.6;
 }

 .intro .inner {
     display: table-cell;
     width: 100%;
     height: 10%;
 }

 .page .inner {
     height: 95%;
     overflow: hidden;
 }

 .page .inner p {
     padding: 0 50px 0 50px;
 }

.page .inner li {
     display: list-item;
     margin-left: 10px;
     list-style-type: circle;
 }

 .portfoliofs {
     display: table;
     height: 100%;
     width: 100%;
     margin: auto;
     background: url('/res/img/dark-wood-big.jpg') no-repeat 50% 50%;
     background-size: cover;
 }

 .portfolioinner {
     opacity: 0.75;
     filter: alpha(opacity=50);
     /* For IE8 and earlier */
     height: 80%;
     max-width: 80%;
     border-radius: 50px;
     background-color: white;
     transform: translate(13%, 13%);
     background-image: url('/res/img//blurredai.png');
     background-size: contain;
 }

 .content {
     position: absolute;
     bottom: 10px;
     right: 0;
     padding-top: 10px;
     padding-bottom: 10px;
     height: 50px;
     width: 100%;
 }

 .center_image {
     text-align: center;
     vertical-align: top;
     width: 90%;
     display: block;
     margin: auto;
 }

 .leftbanner {
     float: left;
     width: 10%;
     min-height: 100%;
     height: inherit;
     background-image: url('/res/img//1920-wood-banner-vertical.png');
     background-repeat: repeat-y;
 }

 .rightbanner {
     float: right;
     width: 10%;
     min-height: 100%;
     height: inherit;
     background-image: url('/res/img/1920-wood-banner-vertical.png');
     background-repeat: repeat-y;
 }

 .alignleft {
     border-radius: 50px;
     float: left;
     width: 32%;
     text-align: center;
     color: white;
     background-image: url(../images/dark-wood-small.jpg);
 }

 .aligncenter {
     border-radius: 50px;
     float: left;
     width: 32%;
     text-align: center;
     color: white;
     background-image: url(../images/dark-wood-small.jpg);
 }

 .alignright {
     border-radius: 50px;
     float: left;
     width: 32%;
     text-align: center;
     color: white;
     background-image: url(../images/dark-wood-small.jpg);
 }

 .photo {
     height: 300px;
     width: 300px;
     float: right;
     margin: 0 0 10px 10px;
 }

 .thumbnail {
     width: 100px;
     border-radius: 200px;
     height: 100px;
     margin-left: auto;
    text-align: center;
 }

 .thumbnail_align {
     margin: auto;
     text-align: center;
     height: 100px;
     width: 100px;
 }

 ul {
     list-style: none;
 }

hr {
    width: 88%;
}
 .columns {
     width: 25%;
     float: left;
     line-height: 24px;
     padding-top: 5px;
     padding-bottom: 5px;
     text-align: center;
 }

 .row.blockDisplay {
     display: block;
 }

 .row {
     color: black;
     width: 100%;
     display: inline-block;
 }

 .whitetxt {
     color: #ffffff;
 }

 .row .columns p {
     padding-left: 10%;
     padding-right: 10%;
 }

 .copyright {
     text-align: center;
     background-image: url(../images/dark-wood-small.jpg);
     color: #FFFFFF;
     text-transform: uppercase;
     font-weight: lighter;
     letter-spacing: 2px;
 }

 .footer {
     background-color: #717070;
 }

 .darkwoodbackground {
     height: 100%;
     background-image: url(../images/dark-wood-big.jpg);
     width: 100%;
 }
 
 aside {
     display: block;
 }

 .contactform {
	 width: auto;
	 height: 70%;
 }

 .contacttable{
	 position: relative;
	 top: 50%;
	 left: 25%;
	 transform: translateY(-50%);
 }

 .inputBox{
	 padding: 12px 20px;
	 margin: 2px 0;
	 display: inline-block;
	 border: 1px solid #ccc;
	 border-radius: 4px;
	 box-sizing: border-box;
 }

 .showmorecontainer{
	border-style: none;
 }
