
/*------THE TRICK------*/
#hidingScrollBar{
  overflow: hidden;
}
.hideScrollBar{
  width: 100%;
  height: 100%;
  overflow: auto;
  margin-right: 14px;
  padding-right: 28px; /*This would hide the scroll bar of the right. To be sure we hide the scrollbar on every browser, increase this value*/
  padding-bottom: 15px; /*This would hide the scroll bar of the bottom if there is one*/
}

/*---------------------*/
